@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}
.card > hr {
  margin-left: 0;
  margin-right: 0;
}
.card > .list-group {
  border-bottom: inherit;
  border-top: inherit;
}
.card > .list-group:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-top-width: 0;
}
.card > .list-group:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-width: 0;
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.5rem;
}
.card-subtitle {
  margin-top: -0.25rem;
}
.card-subtitle,
.card-text:last-child {
  margin-bottom: 0;
}
.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1.25rem;
}
.card-header {
  background-color: #fff;
  border-bottom: 0 solid transparent;
  margin-bottom: 0;
  padding: 1rem 1.25rem;
}
.card-header:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}
.card-footer {
  background-color: #fff;
  border-top: 0 solid transparent;
  padding: 1rem 1.25rem;
}
.card-footer:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}
.card-header-tabs {
  border-bottom: 0;
  margin-bottom: -1rem;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.card-header-tabs .nav-link.active {
  background-color: #fff;
  border-bottom-color: #fff;
}
.card-header-pills {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.card-img-overlay {
  border-radius: 0.25rem;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}
.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
}
.card-img,
.card-img-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-img,
.card-img-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.card-group > .card {
  margin-bottom: 12px;
}
@media (min-width: 576px) {
  .card-group {
      display: flex;
      flex-flow: row wrap;
  }
  .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
  }
  .card-group > .card + .card {
      border-left: 0;
      margin-left: 0;
  }
  .card-group > .card:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-header,
  .card-group > .card:not(:last-child) .card-img-top {
      border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-footer,
  .card-group > .card:not(:last-child) .card-img-bottom {
      border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-header,
  .card-group > .card:not(:first-child) .card-img-top {
      border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-footer,
  .card-group > .card:not(:first-child) .card-img-bottom {
      border-bottom-left-radius: 0;
  }
}
